services:
  backend:
    build: ./backend
    container_name: backend
    env_file:
      - ./backend/.env.prod
    expose:
      - "3005"
    restart: unless-stopped
    profiles:
      - prod
    volumes:
      - ./backend/logs:/app/logs
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/ssl:/etc/nginx/ssl
    depends_on:
      - backend
    restart: unless-stopped
    profiles:
      - prod
