services:
  mongo:
    image: mongo:6
    container_name: mongo
    volumes:
      - mongo-data:/data/db

  server:
    build: ./server
    container_name: server
    ports:
      - "3002:3002"
    environment:
      - MONGO_URL=mongodb://mongo:27017/appdb
    depends_on:
      - mongo

  client:
    build: ./client
    container_name: client
    ports:
      - "5173:5173"
    depends_on:
      - server

volumes:
  mongo-data:
