APP_NAME=TrafficAPI
APP_VERSION=1.0.0
ENVIORNMENT=development
DEBUG=True
HOST=0.0.0.0
PORT=8000
MODEL_PATH=/app/models/tuned_model.pkl
MODEL_VERSION=v1
LOG_PATH=/app/prediction_logs.csv
ENABLE_LOGGING=True
DRIFT_THRESHOLD=0.2
MIN_RECORDS_FOR_DRIFT=100
