*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
  color:white;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* LEFT */
.left-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  
}
.menu-hamburger-btn{
    background: none;
    border: none;
    cursor: pointer;
}

.menu-hamburger-btn img {
  width: 28px;
  filter: invert(1);
}

.menu-hamburger-list{
    position: fixed;
    top:0;
    left:0;
    width:250px;
    height:100vh;
    background: black;
    color: white;
    padding: 20px;
    transform: translateX(-100%);
    transition: left 0.3 ease;
    z-index:999;
}
.menu-hamburger-list.active{
    left:0;
    transform: translateX(0);
}
.menu-hamburger-list ul{
    list-style: none;
    padding: 1.5rem;
    margin:0;
}
.menu-hamburger-list li{
    padding: 12px 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.4;
    cursor: pointer;
    border-bottom: 1px solid #333;
}
.menu-hamburger-list li:hover{
    background-color: rgba(255,255,255,0.3);
    padding-left:0.5rem;
    transition: all 0.2 ease;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

/* CENTER */
.center-container {
  display: flex;
  align-items: center;
  gap: 2x;
  color:white;
}

.products-menu {
  font-weight: 600;
  cursor: pointer;
  margin-right: 2px;
  padding: 0;
}

.search-bar input {
  padding: 10px 20px;
  width: 200px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

/* RIGHT */
.right-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: white;
}

.wishlist,
.cart {
  position: relative;
}

.wishlist img,
.cart img,
.login img {
  width: 24px;
  cursor: pointer;
  filter: invert(1);
}

.wishlist-counter,
.cart-counter {
  position: absolute;
  top: -6px;
  right: -8px;
  background: red;
  color: white;
  font-size: 0.7rem;
  padding: 2px 5px;
  border-radius: 50%;
}

footer {
  background-color: #111;
  color: #eee;
  /*padding: 3rem 2rem;*/
  padding: 40px 20px;
}

footer .top {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

footer .right {
    margin-right:10px;
    padding-right: 20px;
    
}

.right img{
    width: 20px;
    cursor: pointer;
}
footer h4 {
  margin-bottom: 10px;
}

footer p {
  font-size: 14px;
  line-height: 1.6;
  opacity:0.8;
}
footer .right img{
    filter: invert(1);
}

footer .bottom {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #333;
  padding-top: 1rem;
}

.menu a {
  text-decoration: none;
  color: #000; 
}
.menu a:hover {
  color: #ff6b6b;
}
a:visited {
  color: inherit;
}

