body {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  background: white;
  padding: 2rem;
  width: 100%;
  max-width: 450px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.profile-container h2 {
  margin-bottom: 1rem;
}

.profile-container p {
  margin-bottom: 10px;
  font-size: 14px;
}

.profile-container button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
